node_modules
.git
*.md
docs
packages/mobile
packages/daemon
packages/cli
packages/web/src
packages/web/test
packages/web/node_modules
packages/orchestrator/test
packages/shared/test
.environment
.env
